@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --my-yellow: rgba(245, 237, 67, 1); /* Déclaration de la variable HSL */
  --my-yellow-hover: rgba(245, 237, 67, 0.6);
  --primary-foreground: rgba(86, 71, 44, 1);
  --primary-disabled: rgba(200, 200, 200, 1);
}

@font-face {
  font-family: 'Bitcell';
  src: url('/fonts/bitcell_memesbruh03.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'halloween';
  src: url('/fonts/Scary_Halloween_Font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .group:hover .group-hover\:block {
    display: block;
    text-decoration: underline;
  }
}

.mx-transactions > td {
  @apply p-2;
}

.mx-transactions td > span,
.mx-transactions td > div {
  @apply flex w-max;
}

.mx-transactions td > div > a {
  @apply text-blue-600;
}

.bg-dino {
  background: linear-gradient(180deg, #89e7e7 0%, #fffbf5 100%);
}

.mintGazTitle img {
  width: 399px;
  padding: 24px;
}

.dinocard {
  background: #fffbf5;
  max-width: 672px;
  border: 1px solid #e0e6df;
  margin: 30px auto 30px auto;
  display: flex;
  justify-content: space-between;
  border-radius: 0.75rem;
}
.sub-dinocard {
  min-width: 200px;
  margin-bottom: 25px;

  flex: 1; /* Les divs prennent la même largeur */
  padding: 10px;
  box-sizing: border-box;

  /* justify-content: center; */
  justify-items: center;
  display: grid;
  align-content: space-evenly;
}

.dinocard-wrapper {
  width: 800px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .dinocard-wrapper {
    width: 100%;
    margin-bottom: 30px;
  }
  .dinocard-wrapper {
    max-width: 376px; /* Par exemple, prendre 100% de la largeur de l'écran */
  }
  .mintGazTitle img {
    width: 306px;
  }

  .dinocard {
    display: block;
  }
  .sub-dinocard {
    width: 100%; /* Chaque div prend toute la largeur */
  }

  .smhidden {
    display: none;
  }
}

.mintGazTitle {
  /* Yellow */
  width: 100%;
  height: 100px;
  justify-content: center;
  display: grid;
}

/* .box-item {
  justify-content: center;
} */

.entry-free {
  background: linear-gradient(45deg, #ffcc00, #ff8800);
  color: white;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0px 4px 8px rgba(255, 136, 0, 0.4);
  text-transform: uppercase;
}

.dinoButton {
  background-color: var(--my-yellow);
  font-family: Bit Cell;
  font-size: 1.5rem;
  line-height: 2rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 12px;
  height: 2.5rem;
  color: var(--primary-foreground);
  border: 1px solid #e0e6df;
  margin-left: 3px;
  margin-right: 3px;
}

.smallDinoButton,
.ant-btn {
  /* Rarity */
  font-family: BitCell;
  font-size: 1rem;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px 8px;
  gap: 10px;

  width: 80px;
  height: 22px;

  background: #f7ea43;
  color: black;
  border-radius: 4px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.dinoButton:hover,
.smallDinoButton:hover {
  background-color: var(--my-yellow-hover);
  border: 1px solid rgb(68, 56, 34);
}

.dinoButton:disabled,
.smallDinoButton:disabled {
  background-color: var(--primary-disabled);
  color: #000;
  cursor: not-allowed;
}

.dinoButton.reverse {
  background: rgb(255, 255, 255);
  color: rgb(68, 56, 34);
  border: 1px solid #e0e6df;
  border-radius: 12px;
}

.dinoButton:hover.reverse:hover {
  background: rgb(225, 230, 224);
  border: 1px solid rgb(68, 56, 34);
  border-radius: 12px;
}

.d-nav-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.ant-picker-panel-container .ant-picker-presets {
  min-height: 25rem !important;
}

@media (max-width: 800px) {
  .ant-picker-panel-container {
    overflow: scroll !important;
    height: 400px;
  }

  .ant-picker-panel-container .ant-picker-panel-layout {
    flex-direction: column !important;
  }

  .ant-picker-panel-container .ant-picker-presets {
    max-width: 100% !important;
    min-height: 10rem !important;
  }

  .ant-picker-panel-container .ant-picker-panels,
  .ant-picker-panel-container .ant-picker-datetime-panel {
    flex-direction: column !important;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.page-number {
  display: inline-block;
  padding: 8px 12px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #e0e6df;
  border-radius: 5px;
  background: white;
  color: #443822;
}
