.mint-container {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  background-color: #7de9f2;
  border: 2px solid #f7ea43;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.dinoTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 10px;

  width: 306.92px;
  height: 64.43px;

  /* Yellow */
  background: #f5ed43;
  transform: rotate(-2deg);

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
  margin: 30px auto;
  font-family: BitCell;
  font-size: 50px;
  font-weight: 400;
}

.mint-title {
  text-align: center;
  color: rgb(255 119 75);
  font-size: 24px;
  margin-bottom: 20px;
}

.mint-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.info-item {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 400;
  font-family: Manrope;
  line-height: 36px;
  /* color: rgb(255 119 75); */
}

.price-input {
  width: 60px;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #fff;
}

.text-label {
  color: rgb(0, 0, 0);
  margin-right: 10px;
  text-align: center;
}

.token-label {
  margin-left: 10px;
  color: #f7ea43;
}

.mint-image {
  text-align: center;
  margin: 20px 0;
}

.mint-image img {
  width: 200px;
  border: 2px solid #f7ea43;
  border-radius: 10px;
}

.halloween-image {
  /* Vox Xportal 2 1 */
  width: 265px;
  height: 265px;
  left: 0px;
  top: 176px;
  margin: 0 auto;
}
.mint-button {
  background-color: #f7ea43;
  color: #7de9f2;
  font-size: 18px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.mint-button:hover {
  background-color: #ffdb31;
}

.identifier {
  margin-left: 10px;
  color: #847f73;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-group {
  display: flex;
  gap: 10px;
}

label {
  font-weight: bold;
}

input,
select,
textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
}

textarea {
  resize: vertical;
}
.tooltip-inline {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
  font-weight: bold;
}

.tooltip-inline .tooltiptext-inline {
  visibility: hidden;
  width: 350px; /* Agrandir la tooltip à 350px */
  max-width: 100vw; /* S'assurer que la tooltip ne dépasse pas la largeur de l'écran */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Positionner la tooltip au-dessus de l'élément */
  left: 50%;
  transform: translateX(-50%); /* Centrer la tooltip */
  opacity: 0;
  transition: opacity 0.3s;
  word-wrap: break-word; /* Pour éviter que le texte dépasse */
}

.tooltip-inline .tooltiptext-inline::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip-inline:hover .tooltiptext-inline {
  visibility: visible;
  opacity: 1;
}

.address-info {
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 20px auto;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.address-info h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #444;
}

.address-info .highlight {
  color: #007bff;
  font-weight: bold;
}

.address-info ul {
  list-style-type: none;
  padding-left: 0;
}

.address-info li {
  background-color: #fff;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.address-info li:nth-child(even) {
  background-color: #f1f1f1;
}

.address-info .amount {
  font-weight: bold;
  color: #007bff;
}

.invalid-addresses-container {
  background-color: #ffe6e6; /* Un fond légèrement rouge pour indiquer une erreur */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1); /* Une légère ombre rouge */
  max-width: 600px;
  margin: 20px auto;
  font-family: 'Arial', sans-serif;
  color: #a94442; /* Rouge foncé pour le texte */
  word-wrap: break-word; /* Forcer le retour à la ligne pour les longues chaînes */
  overflow-wrap: break-word; /* Règle supplémentaire pour garantir la coupure */
  word-break: break-all;
}

.invalid-addresses-container h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #a94442; /* Même rouge pour le titre */
}

.highlight-error {
  color: #d9534f; /* Rouge vif pour le nombre d'adresses invalides */
  font-weight: bold;
}

.invalid-addresses-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.invalid-address-item {
  background-color: #fbeaea;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(255, 0, 0, 0.1);
}

.invalid-address-item:nth-child(even) {
  background-color: #f5dcdc;
}

.invalid-addresses-container .invalid-address-item {
  font-weight: bold;
  color: #a94442;
}

.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 20px; /* Espace entre les deux groupes */
}

.checkbox-label {
  margin-left: 5px; /* Petit espace entre le label et la checkbox */
}

/* Styles pour la tooltip */
.tooltip-inline {
  position: relative;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  font-weight: bold;
}

.tooltip-inline .tooltiptext-inline {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position au-dessus de l'élément */
  left: 50%;
  margin-right: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-inline:hover .tooltiptext-inline {
  visibility: visible;
  opacity: 1;
}

.devine {
  /* Question */

  height: 72px;
  left: 63px;
  top: 64px;

  font-family: 'Bit Cell';
  font-style: normal;
  font-weight: 400;
  font-size: 75px;
  line-height: 72px;

  color: #453922;
}

.hcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.hblock {
  /* background-color: #f4f4f4; */
  /* border: 1px solid #ddd; */
  align-content: center;
  text-align: center;
  justify-content: center;
  flex: 1;
}

/* Block 1 takes full width */
.hblock-1 {
  flex-basis: 100%;
}

/* Block 2 and 3 take half width on larger screens */
.hblock-2 {
  flex-basis: 48%; /* Adjusting to account for gap */
}

/* On small screens, stack blocks vertically */
@media (max-width: 768px) {
  .hblock-2 {
    flex-basis: 100%;
  }
}

.greenGraou {
  font-family: 'halloween';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 72px;

  color: #ff8c3a;
}
